body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('neonovaia-luna-1.webp');
    background-size: 100%;
    background-attachment: fixed;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Центрирование элементов по вертикали */
  padding: 5px 10px;
  z-index: 1000;
}

.menu {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1px 0; /* Уменьшили отступы, чтобы уменьшить высоту */
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 10px; /* Уменьшили отступы внутри элементов меню */
  font-size:30px; /* Можно уменьшить шрифт для компактности */
}

.menu a:hover {
  background-color: #555;
  border-radius: 50px;
}

.logo {
  display: flex;
  align-items: center; /* Центрирование логотипа */
}

.logo img {
  max-width: 50px; /* Ограничиваем максимальную ширину логотипа */
  max-height: 50px; /* Ограничиваем максимальную высоту логотипа */
  width: auto;
  height: auto;
  margin-right: 10px;
}

.logo span {
  color: white;
  font-size: 25px;
}

.logo:hover {
    opacity: 0.8; /* Добавляем эффект при наведении */
}

.gradient-text {
  font-size: 35px; /* Размер шрифта для текста с градиентом */
  font-weight: bold;
  background: linear-gradient(90deg, #ffffff,#7265E3);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}

/* Анимация градиента */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loool {
  color: white;
  font-size: 35px;
  align-items: center;
}

.buttons .btn-primary, .buttons .btn-secondary {
    padding: 15px 25px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
}

.buttons .btn-primary {
    background-color: #7265E3;
    margin-right: 15px;
}

.buttons .btn-secondary {
    background-color: #ffffff;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 1570px;
    padding: 50px;
}



.feature {
    background: linear-gradient(175deg, #ffffff,#7265E3); /* Градиентный фон */
    padding: 30px;
    border-radius: 10px;
    flex: 1 1 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.feature h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    background: linear-gradient(175deg, #ffffff,#7265E3); /* Градиент для текста */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature p {
    font-size: 1.2em;
    color: #f0f0f0;
}

.stats-section {
    background: linear-gradient(175deg, #ffffff, #7265E3); /* Используем background для градиента */
    max-width: 1500px; /* Ширина контейнера */
    margin: 50px auto; /* Центрирование контейнера */
    padding: 30px; /* Внутренний отступ */
    border-radius: 15px; /* Скругление углов */
}

h1 {
    font-size: 36px; /* Размер заголовка */
    margin-bottom: 30px;
    line-height: 1.5; /* Высота строк для разделения текста */
}

.gradient-text {
    background: linear-gradient(90deg, #ffffff,#7265E3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Сетка из 3 колонок */
    gap: 20px; /* Отступы между серверными блоками */
}

.server-item {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 15px;
}

.server-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.server-item p {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
}

.server-item span {
    font-size: 16px;
    color: #888;
}

.adventure-section {
    width: 1500px; /* Увеличиваем ширину до 900px */
    margin: 50px auto; /* Центрирование и добавление отступа сверху и снизу */
    padding: 40px; /* Увеличиваем внутренний отступ */
    background: linear-gradient(175deg, #ffffff, #7265E3); /* Цвет фона секции */
    border-radius: 15px; /* Скругление углов */
}

h1 {
    font-size: 32px; /* Увеличиваем размер заголовка */
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Расстояние между кнопками */
}

.btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.primary-btn {
    background-color: #7265E3; /* Цвет фиолетовой кнопки */
    color: white;
    border: none;
}

.secondary-btn {
    background-color: #333;
    color: white;
    border: 2px solid white;
}

.btn:hover {
    opacity: 0.8;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; /* Измените с fixed на relative или static */
    width: 100%;
    bottom: 0;
}


.social-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
